:root {
	--ion-color-primary: #BF3F92;
	--ion-color-primary-rgb: 191,63,146;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #a83780;
	--ion-color-primary-tint: #c5529d;

	--ion-color-secondary: #59023B;
	--ion-color-secondary-rgb: 89,2,59;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4e0234;
	--ion-color-secondary-tint: #6a1b4f;

	--ion-color-tertiary: #c98eb4;
	--ion-color-tertiary-rgb: 242,141,207;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d57cb6;
	--ion-color-tertiary-tint: #f398d4;
}