.perfil-pic{
    border-radius: 32px;
   outline: 3px solid pink;
margin: auto;
   

};

.titulo-nome{
    font-size: 3rem;

};

.titulo-objetivo{
    font-size:2rem;

}
.ion-text-center{
    text-align: center;
}

.CONTATOTEXTO{
    color:pink;
}